{% extends 'base.html' %}

{% block content %}


<!-- Category list
<h3>Browse by Category</h3>
<ul>
    {% for cat in categories %}
        <li><a href="{% url 'category_articles' cat.id %}">{{ cat.name }}</a></li>
    {% endfor %}
</ul> -->

<hr>
<!-- <form class="d-flex mb-3" action="{% url 'search_articles' %}" method="get">
    <input class="form-control me-2" type="text" name="q" placeholder="Search articles...">
    <button class="btn btn-primary" type="submit">Search</button>
</form> -->
<!-- Show latest articles only -->
<h2>📰 Recent Posts</h2>
<ul>
    {% for article in articles %}
        <li>
            <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
            <br>
            {% if article.image %}
             <img src="{{ article.image.url }}" alt="Article Image" width="300">
            {% endif %}
            <br>
            ({{ article.date_posted|date:"M d, Y" }}) - <em>{{ article.category.name }}</em>
        </li>
    {% endfor %}
</ul>

<p><em>To view more articles, please choose a category above.</em></p>
{% endblock %}
